In [1]:
import os
import glob
import pandas as pd

## CSV-Dateien kombinieren

In [8]:
#Ordner mit csv Dateien
path = '/Users/leabeckmann/Library/CloudStorage/OneDrive-PersoÌˆnlich/Alle Dokumente/UNI/ADS02 - ML/Daten'

#Alle Dateien auflisten
csv_files = glob.glob(os.path.join(path,'*.csv'))

#Kombinieren der Dateien
combined_df = pd.concat((pd.read_csv(f) for f in csv_files), ignore_index=True)

#Speichern der kombinierten Datei
combined_df.to_csv(os.path.join(path,'combined_data.csv'), index=False)

In [11]:
combined_df.head()

,PropertyID,PropType,taxkey,Address,CondoProject,District,nbhd,Style,Extwall,Stories,Year_Built,Rooms,FinishedSqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,848609.0,Residential,40062000.0,9421 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,11.0,"2,615",1.0,4.0,3.0,1.0,"16,588",2/13/2020,"$357,000"
1,859441.0,Residential,40062000.0,9421 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,11.0,"2,615",1.0,4.0,3.0,1.0,"16,588",10/15/2020,"$369,900"
2,848069.0,Residential,40064000.0,9445 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,10.0,"3,140",1.0,4.0,3.0,1.0,"10,607",1/24/2020,"$315,000"
3,849117.0,Residential,40073000.0,9563 N MICHAEL CT,NaN,9.0,40.0,Ranch,Fiber Cement/Hardiplank,1.0,2010.0,7.0,"2,153",1.0,3.0,2.0,1.0,"10,607",2/28/2020,"$338,000"
4,859049.0,Residential,49994000.0,9423 W COUNTY LINE RD,NaN,9.0,40.0,Cape Cod,Aluminum/Vinyl,1.0,1950.0,5.0,"1,103",1.0,3.0,1.0,0.0,"71,438",10/28/2020,"$184,000"

## Master 2002-2018 einlesen

In [10]:
df1 = pd.read_csv('/Users/leabeckmann/Library/CloudStorage/OneDrive-PersoÌˆnlich/Alle Dokumente/UNI/ADS02 - ML/20022018.csv')
df1.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Commercial,3230461110,2628 N 6TH ST,NaN,6,6258,Commercial Exempt,NaN,2.0,1880,0,1840,1,0,0,0,12750,2002-01,15900
1,Commercial,3590192000,1363 N PROSPECT AV,NaN,3,6262,Mansions With Commercial Usage,NaN,2.0,1876,0,6377,1,0,0,0,11840,2002-01,850000
2,Commercial,4161194000,617 S 94TH ST,NaN,10,6272,Service Building,NaN,1.0,1954,0,5022,1,0,0,0,9700,2002-01,119000
3,Commercial,1719836000,3624 W SILVER SPRING DR,NaN,1,6218,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955,0,6420,1,0,0,0,8792,2002-01,210000
4,Commercial,3480290000,3830 W LISBON AV,NaN,15,6254,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909,0,5956,1,0,0,0,4840,2002-01,48500

In [16]:
df1['Sale_date'] = pd.to_datetime(df1['Sale_date'], format='%Y-%m')

In [17]:
df1['Sale_date'] = df1['Sale_date'].dt.strftime('%Y-%m')

In [18]:
df1.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,Commercial,3230461110,2628 N 6TH ST,NaN,6,6258,Commercial Exempt,NaN,2.0,1880,0,1840,1,0,0,0,12750,2002-01,15900
1,Commercial,3590192000,1363 N PROSPECT AV,NaN,3,6262,Mansions With Commercial Usage,NaN,2.0,1876,0,6377,1,0,0,0,11840,2002-01,850000
2,Commercial,4161194000,617 S 94TH ST,NaN,10,6272,Service Building,NaN,1.0,1954,0,5022,1,0,0,0,9700,2002-01,119000
3,Commercial,1719836000,3624 W SILVER SPRING DR,NaN,1,6218,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955,0,6420,1,0,0,0,8792,2002-01,210000
4,Commercial,3480290000,3830 W LISBON AV,NaN,15,6254,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909,0,5956,1,0,0,0,4840,2002-01,48500

Die Datetime Formate unterscheiden sich, weshalb diese vereinheitlicht werden mÃ¼ssen

## Datetime Format 2019-2023 vereinheitlichen

In [30]:
from datetime import datetime

In [97]:
df2 = pd.read_csv('/Users/leabeckmann/Library/CloudStorage/OneDrive-PersoÌˆnlich/Alle Dokumente/UNI/ADS02 - ML/Daten/combined_data.csv')

In [98]:
df2.head()

,PropertyID,PropType,taxkey,Address,CondoProject,District,nbhd,Style,Extwall,Stories,Year_Built,Rooms,FinishedSqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,848609.0,Residential,40062000.0,9421 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,11.0,"2,615",1.0,4.0,3.0,1.0,"16,588",2/13/2020,"$357,000"
1,859441.0,Residential,40062000.0,9421 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,11.0,"2,615",1.0,4.0,3.0,1.0,"16,588",10/15/2020,"$369,900"
2,848069.0,Residential,40064000.0,9445 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,10.0,"3,140",1.0,4.0,3.0,1.0,"10,607",1/24/2020,"$315,000"
3,849117.0,Residential,40073000.0,9563 N MICHAEL CT,NaN,9.0,40.0,Ranch,Fiber Cement/Hardiplank,1.0,2010.0,7.0,"2,153",1.0,3.0,2.0,1.0,"10,607",2/28/2020,"$338,000"
4,859049.0,Residential,49994000.0,9423 W COUNTY LINE RD,NaN,9.0,40.0,Cape Cod,Aluminum/Vinyl,1.0,1950.0,5.0,"1,103",1.0,3.0,1.0,0.0,"71,438",10/28/2020,"$184,000"

In [99]:
#Dictionary fÃ¼r die Umbenennung, weil die Spalten in d1 und d2 anders benannt sind
rename_dict = {
    'nbhd': 'Nbhd',
    'Rooms': 'Nr_of_rms',
    'FinishedSqft': 'Fin_sqft'
}

# Benenne die Spalten um
df2.rename(columns=rename_dict, inplace=True)

# Speichere die angepasste DataFrame in einer neuen CSV-Datei
df2.to_csv('/Users/leabeckmann/Library/CloudStorage/OneDrive-PersoÌˆnlich/Alle Dokumente/UNI/ADS02 - ML/Daten/combined_data_mod.csv', index=False)

In [100]:
df2.head()

,PropertyID,PropType,taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,848609.0,Residential,40062000.0,9421 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,11.0,"2,615",1.0,4.0,3.0,1.0,"16,588",2/13/2020,"$357,000"
1,859441.0,Residential,40062000.0,9421 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,11.0,"2,615",1.0,4.0,3.0,1.0,"16,588",10/15/2020,"$369,900"
2,848069.0,Residential,40064000.0,9445 N MICHAEL CT,NaN,9.0,40.0,Colonial,Fiber Cement/Hardiplank,2.0,2006.0,10.0,"3,140",1.0,4.0,3.0,1.0,"10,607",1/24/2020,"$315,000"
3,849117.0,Residential,40073000.0,9563 N MICHAEL CT,NaN,9.0,40.0,Ranch,Fiber Cement/Hardiplank,1.0,2010.0,7.0,"2,153",1.0,3.0,2.0,1.0,"10,607",2/28/2020,"$338,000"
4,859049.0,Residential,49994000.0,9423 W COUNTY LINE RD,NaN,9.0,40.0,Cape Cod,Aluminum/Vinyl,1.0,1950.0,5.0,"1,103",1.0,3.0,1.0,0.0,"71,438",10/28/2020,"$184,000"

In [101]:
unique_dates = df2['Sale_date'].unique()
print(unique_dates[:10])

['2/13/2020' '10/15/2020' '1/24/2020' '2/28/2020' '10/28/2020' '9/17/2020'
 '12/9/2020' '7/7/2020' '6/12/2020' '11/17/2020']

In [102]:
#Hier war die Herausforderung, dass teilweise verschiedene Datumsformate angegeben waren
#und es nicht vereinheitlicht werden konnte
def convert_date(date_str):
    if pd.isnull(date_str) or date_str in ["nan", "NaT", "None"]:  
        return None
    for fmt in ('%m/%d/%Y', '%Y-%m-%d'):
        try:
            return datetime.strptime(date_str, fmt).strftime('%Y-%m-%d')
        except ValueError:
            pass
    raise ValueError(f"No valid date format found for {date_str}")

#Alle Werte konvertieren
df2['Sale_date'] = df2['Sale_date'].astype(str)

df2['Sale_date'] = df2['Sale_date'].apply(convert_date)

#Konvertieren in Datetime
df2['Sale_date'] = pd.to_datetime(df2['Sale_date'], errors='coerce')

#Konvertieren in Jahr-Monat (wie in 2002-2018 Datei)
df2['Sale_date'] = df2['Sale_date'].dt.strftime('%Y-%m')

print(df2.head())

   PropertyID     PropType      taxkey                Address CondoProject  \
0    848609.0  Residential  40062000.0      9421 N MICHAEL CT          NaN
1    859441.0  Residential  40062000.0      9421 N MICHAEL CT          NaN
2    848069.0  Residential  40064000.0      9445 N MICHAEL CT          NaN
3    849117.0  Residential  40073000.0      9563 N MICHAEL CT          NaN
4    859049.0  Residential  49994000.0  9423 W COUNTY LINE RD          NaN

   District  Nbhd     Style                  Extwall  Stories  Year_Built  \
0       9.0  40.0  Colonial  Fiber Cement/Hardiplank      2.0      2006.0
1       9.0  40.0  Colonial  Fiber Cement/Hardiplank      2.0      2006.0
2       9.0  40.0  Colonial  Fiber Cement/Hardiplank      2.0      2006.0
3       9.0  40.0     Ranch  Fiber Cement/Hardiplank      1.0      2010.0
4       9.0  40.0  Cape Cod           Aluminum/Vinyl      1.0      1950.0

   Nr_of_rms Fin_sqft  Units  Bdrms  Fbath  Hbath Lotsize Sale_date Sale_price
0       11.0    2,615    1.0    4.0    3.0    1.0  16,588   2020-02   $357,000
1       11.0    2,615    1.0    4.0    3.0    1.0  16,588   2020-10   $369,900
2       10.0    3,140    1.0    4.0    3.0    1.0  10,607   2020-01   $315,000
3        7.0    2,153    1.0    3.0    2.0    1.0  10,607   2020-02   $338,000
4        5.0    1,103    1.0    3.0    1.0    0.0  71,438   2020-10   $184,000

In [103]:
df2.dtypes

PropertyID      float64
PropType         object
taxkey          float64
Address          object
CondoProject     object
District        float64
Nbhd            float64
Style            object
Extwall          object
Stories         float64
Year_Built      float64
Nr_of_rms       float64
Fin_sqft         object
Units           float64
Bdrms           float64
Fbath           float64
Hbath           float64
Lotsize          object
Sale_date        object
Sale_price       object
dtype: object

## Fehlende Werte lÃ¶schen etc.

In [104]:
df2.shape

(32051, 20)

In [105]:
#Entfernen von Taxkey, da ein sehr individuelle Faktor und PropertyID, da diese Werte nicht in d1 enthalten sind

df2.drop(['taxkey','PropertyID'], axis=1, inplace=True)

In [106]:
df2.isna().sum()

PropType           10
Address             6
CondoProject    27844
District            4
Nbhd               59
Style              89
Extwall          4390
Stories           171
Year_Built         63
Nr_of_rms        1632
Fin_sqft          103
Units               2
Bdrms            1631
Fbath             657
Hbath            4842
Lotsize             3
Sale_date           2
Sale_price         12
dtype: int64

In [107]:
#Entfernen von CondoProjekt, da sehr viele Nullwerte

df2.drop(['CondoProject'], axis=1, inplace=True)

In [108]:
df2.isna().sum()

PropType        10
Address          6
District         4
Nbhd            59
Style           89
Extwall       4390
Stories        171
Year_Built      63
Nr_of_rms     1632
Fin_sqft       103
Units            2
Bdrms         1631
Fbath          657
Hbath         4842
Lotsize          3
Sale_date        2
Sale_price      12
dtype: int64

In [109]:
df2.dropna(inplace=True)

In [110]:
df2.isna().sum()

PropType      0
Address       0
District      0
Nbhd          0
Style         0
Extwall       0
Stories       0
Year_Built    0
Nr_of_rms     0
Fin_sqft      0
Units         0
Bdrms         0
Fbath         0
Hbath         0
Lotsize       0
Sale_date     0
Sale_price    0
dtype: int64

In [111]:
df2.shape

(22089, 17)

In [112]:
df1.shape

(24624, 17)

In [113]:
df1.isna().sum()

PropType      0
Address       0
District      0
Nbhd          0
Style         0
Extwall       0
Stories       0
Year_Built    0
Nr_of_rms     0
Fin_sqft      0
Units         0
Bdrms         0
Fbath         0
Hbath         0
Lotsize       0
Sale_date     0
Sale_price    0
dtype: int64

In [53]:
df1.drop(['Taxkey','CondoProject'], axis=1, inplace=True)

In [54]:
df1.dropna(inplace=True)

In [55]:
df1.isna().sum()

PropType      0
Address       0
District      0
Nbhd          0
Style         0
Extwall       0
Stories       0
Year_Built    0
Nr_of_rms     0
Fin_sqft      0
Units         0
Bdrms         0
Fbath         0
Hbath         0
Lotsize       0
Sale_date     0
Sale_price    0
dtype: int64

In [56]:
df1.shape

(24624, 17)

## Vereinheitlichung der dtypes

In [114]:
df1.dtypes

PropType       object
Address        object
District        int64
Nbhd            int64
Style          object
Extwall        object
Stories       float64
Year_Built      int64
Nr_of_rms       int64
Fin_sqft        int64
Units           int64
Bdrms           int64
Fbath           int64
Hbath           int64
Lotsize         int64
Sale_date      object
Sale_price      int64
dtype: object

In [122]:
df2.dtypes

PropType       object
Address        object
District        int64
Nbhd            int64
Style          object
Extwall        object
Stories       float64
Year_Built      int64
Nr_of_rms       int64
Fin_sqft       object
Units         float64
Bdrms         float64
Fbath         float64
Hbath         float64
Lotsize        object
Sale_date      object
Sale_price     object
dtype: object

In [125]:
# Dtypes konvertierung

df2['District'] = df2['District'].astype('int64')
df2['Nbhd'] = df2['Nbhd'].astype('int64')
df2['Year_Built'] = df2['Year_Built'].astype('int64')
df2['Nr_of_rms'] = df2['Nr_of_rms'].astype('int64')

# Kommata entfernen und konvertieren
df2['Fin_sqft'] = df2['Fin_sqft'].astype(str).str.replace(',', '').astype(float)
df2['Fin_sqft'] = df2['Fin_sqft'].round().astype('int64')

df2['Units'] = df2['Units'].astype('int64')
df2['Bdrms'] = df2['Bdrms'].astype('int64')
df2['Fbath'] = df2['Fbath'].astype('int64')
df2['Hbath'] = df2['Hbath'].astype('int64')
df2['Lotsize'] = df2['Lotsize'].str.replace(',', '').astype(float).round().astype('int64')

# Nicht numerische Werte replacen und konvertieren
df2['Sale_price'] = df2['Sale_price'].str.replace('[^\d]', '', regex=True).astype('int64')

In [126]:
df2.dtypes

PropType       object
Address        object
District        int64
Nbhd            int64
Style          object
Extwall        object
Stories       float64
Year_Built      int64
Nr_of_rms       int64
Fin_sqft        int64
Units           int64
Bdrms           int64
Fbath           int64
Hbath           int64
Lotsize         int64
Sale_date      object
Sale_price      int64
dtype: object

In [127]:
df1.dtypes

PropType       object
Address        object
District        int64
Nbhd            int64
Style          object
Extwall        object
Stories       float64
Year_Built      int64
Nr_of_rms       int64
Fin_sqft        int64
Units           int64
Bdrms           int64
Fbath           int64
Hbath           int64
Lotsize         int64
Sale_date      object
Sale_price      int64
dtype: object

In [128]:
df1.to_csv('df1.csv', index=False)
df2.to_csv('df2.csv', index=False)

## Daten zusammenfÃ¼gen

In [129]:
directory_path = '/Users/leabeckmann/Library/CloudStorage/OneDrive-PersoÌˆnlich/Alle Dokumente/UNI/ADS02 - ML/Merged Daten/'

csv_files = glob.glob(os.path.join(directory_path, '*.csv'))

# Kombinieren
combined_df = pd.concat((pd.read_csv(f) for f in csv_files), ignore_index=True)

combined_df.to_csv(os.path.join(directory_path, '2002-2023.csv'), index=False)